!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Teacher's Bar
    = csrf_meta_tags
    = csp_meta_tag

    -# スタイルシートの参照先
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'

  %body
  .hide
  = yield